---
import { ArrowRight } from "@lucide/astro";

interface Props {
    name: string;
    description: string;
    link?: string;
    stack: string[];
    category: string;
    image?: string;
}

const { name, description, link, stack, category, image } = Astro.props;
---

<a
    href={link}
    class="group group flex h-full flex-col justify-between rounded-lg border border-white/10 bg-white/5 p-6 transition hover:bg-white/7">
    {
        image && (
            <img
                src={image}
                alt={name}
                class="mb-6 aspect-video w-full rounded-md border border-white/10 object-cover"
            />
        )
    }
    <div>
        <div class="flex items-start justify-between gap-4">
            <div>
                <h3
                    class="text-base font-semibold text-white group-hover:text-white">
                    {name}
                </h3>
            </div>
            <span
                class="shrink-0 rounded border border-white/10 bg-white/5 px-3 py-1 text-xs font-medium text-white/70">
                {category}
            </span>
        </div>
        <p class="mt-2 text-sm leading-6 text-white/70">
            {description}
        </p>
    </div>

    <div class="mt-4 flex flex-wrap gap-2">
        {
            stack.map((tech) => (
                <span class="rounded-full border border-white/10 bg-white/5 px-3 py-1 text-xs text-white/70">
                    {tech}
                </span>
            ))
        }
    </div>

    {
        link && (
            <div class="mt-5 flex items-center justify-between text-sm">
                <span class="text-white/55">Read details</span>
                <ArrowRight class="size-5 text-white/55 transition group-hover:translate-x-0.5" />
            </div>
        )
    }
</a>
